.self-name {
  text-decoration: underline;
  text-decoration-thickness: 0.125rem;
  text-decoration-color: #1d2f4b;
}

.wm-advisee {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #1d2f4b;
}
