tr {
    border: none;
    background: none;
}

td {
    padding: 0.05rem 0.35rem 0.05rem 0;
    vertical-align: top;
    line-height: 1.2;
}

tr:not(.entry-start):not(.condensed-row) td {
    font-size: 0.9em;
}

.hanging-cell {
    padding: 0.05rem 0.5rem 0.05rem 0;
    white-space: nowrap;
    vertical-align: top;
    width: 1%;
    padding-right: 1rem;
    text-align: right;
}

.left-cell {
    padding-left: 1rem;
    padding-right: 0.5rem;
    min-width: 10rem;
}

.left-cell span {
    display: inline;
}

.left-header-span {
    font-size: 1.05em;
}

.left-entry-span {
    font-size: 0.95em;
}

.right-cell {
    padding: 0;
    padding-right: 1rem;
    text-align: left;
    white-space: nowrap;
    width: 1%;
}

.left-header strong {
    font-weight: 600;
}

.entry-start td {
    padding-top: 0.4rem;
}

td {
    line-height: 1rem;
}

@media screen and (max-width: 600px) {
    tr {
        display: block;
        line-height: 1.1em;
    }

    td,
    .right-cell,
    .left-cell {
        display: block;
        padding-right: 0;
        padding-left: 0;
        white-space: normal;
        text-align: left;
    }

    .left-cell {
        margin-bottom: 0.2rem;
    }

    .entry-start:not(.condensed-row) td:first-child {
        padding-top: 0.7rem;
    }

    .entry-start:not(.condensed-row) td {
        padding-top: 0.1rem;
    }

    .condensed-row.entry-start td {
        padding-top: 0.4rem;
    }
}
